#top {
	display: flex;
}

fieldset {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-height: 540px;
}

#list {
	overflow: auto;
	list-style: none;
	margin-bottom: 1em 0 0;
	padding: 0;
}
#list .unknown {
	opacity: 0.2;
}
#list label {
	display: flex;
	align-items: center;
}
#list img {
	padding: 0.5em;
	max-width: 100px;
	max-height: 100px;
}
#list small {
	display: block;
}

#player {
	position: relative;
}

#video {
	display: block;
}

#offset {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	overflow: hidden;
}

#preview {
	position: absolute;
	height: 100px;
	width: 100px;
	border: 10px solid red;
	border-radius: 50%;
	left: 0;
	top: 0;
	transition: x linear 200ms, y linear 200ms;
}

